In [1]:
import pandas as pd

In [9]:
founders = pd.read_csv("/Users/Development/Desktop/pandasproject/founders.csv")

In [10]:
founders

,Founder's Name,Pitch Line,Age,Business Storytelling,Capital (USD),Marital Status
0,Alice Johnson,"""Revolutionizing urban farming.""",34,Alice grew up in a city with limited green spa...,"250,000",Single
1,Bob Smith,"""AI-driven solutions for healthcare.""",45,After witnessing inefficiencies in hospital sy...,"1,000,000",Married
2,Carol Lee,"""Bringing clean energy to every home.""",29,Carol's passion for renewable energy led her t...,"500,000",Single
3,David Nguyen,"""Enhancing e-commerce with AR.""",38,David saw the potential of augmented reality t...,"750,000",Divorced
4,Emma Brown,"""Personalized learning for all ages.""",31,"Emma, a former teacher, launched an ed-tech pl...","300,000",Married
5,Frank O'Hara,"""Sustainable packaging solutions.""",42,Frank's concern for environmental waste led hi...,"600,000",Single
6,Grace Wilson,"""Connecting freelancers with projects.""",27,Grace created a platform that matches freelanc...,"150,000",Single

In [11]:
print(founders.head())

  Founder's Name                              Pitch Line  Age  \
0  Alice Johnson        "Revolutionizing urban farming."   34
1      Bob Smith   "AI-driven solutions for healthcare."   45
2      Carol Lee  "Bringing clean energy to every home."   29
3   David Nguyen         "Enhancing e-commerce with AR."   38
4     Emma Brown   "Personalized learning for all ages."   31

                               Business Storytelling Capital (USD)  \
0  Alice grew up in a city with limited green spa...       250,000
1  After witnessing inefficiencies in hospital sy...     1,000,000
2  Carol's passion for renewable energy led her t...       500,000
3  David saw the potential of augmented reality t...       750,000
4  Emma, a former teacher, launched an ed-tech pl...       300,000

  Marital Status
0         Single
1        Married
2         Single
3       Divorced
4        Married

In [12]:
print(founders.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Founder's Name         7 non-null      object
 1   Pitch Line             7 non-null      object
 2   Age                    7 non-null      int64
 3   Business Storytelling  7 non-null      object
 4   Capital (USD)          7 non-null      object
 5   Marital Status         7 non-null      object
dtypes: int64(1), object(5)
memory usage: 468.0+ bytes
None

In [14]:
filtered_founders = founders[founders["Age"] > 30]
filtered_founders

,Founder's Name,Pitch Line,Age,Business Storytelling,Capital (USD),Marital Status
0,Alice Johnson,"""Revolutionizing urban farming.""",34,Alice grew up in a city with limited green spa...,"250,000",Single
1,Bob Smith,"""AI-driven solutions for healthcare.""",45,After witnessing inefficiencies in hospital sy...,"1,000,000",Married
3,David Nguyen,"""Enhancing e-commerce with AR.""",38,David saw the potential of augmented reality t...,"750,000",Divorced
4,Emma Brown,"""Personalized learning for all ages.""",31,"Emma, a former teacher, launched an ed-tech pl...","300,000",Married
5,Frank O'Hara,"""Sustainable packaging solutions.""",42,Frank's concern for environmental waste led hi...,"600,000",Single

In [17]:
founders["industery"] = founders["Pitch Line"] + founders["Capital (USD)"]
founders

,Founder's Name,Pitch Line,Age,Business Storytelling,Capital (USD),Marital Status,industery
0,Alice Johnson,"""Revolutionizing urban farming.""",34,Alice grew up in a city with limited green spa...,"250,000",Single,"""Revolutionizing urban farming.""250,000"
1,Bob Smith,"""AI-driven solutions for healthcare.""",45,After witnessing inefficiencies in hospital sy...,"1,000,000",Married,"""AI-driven solutions for healthcare.""1,000,000"
2,Carol Lee,"""Bringing clean energy to every home.""",29,Carol's passion for renewable energy led her t...,"500,000",Single,"""Bringing clean energy to every home.""500,000"
3,David Nguyen,"""Enhancing e-commerce with AR.""",38,David saw the potential of augmented reality t...,"750,000",Divorced,"""Enhancing e-commerce with AR.""750,000"
4,Emma Brown,"""Personalized learning for all ages.""",31,"Emma, a former teacher, launched an ed-tech pl...","300,000",Married,"""Personalized learning for all ages.""300,000"
5,Frank O'Hara,"""Sustainable packaging solutions.""",42,Frank's concern for environmental waste led hi...,"600,000",Single,"""Sustainable packaging solutions.""600,000"
6,Grace Wilson,"""Connecting freelancers with projects.""",27,Grace created a platform that matches freelanc...,"150,000",Single,"""Connecting freelancers with projects.""150,000"

In [20]:
print(founders.describe())

             Age
count   7.000000
mean   35.142857
std     6.768273
min    27.000000
25%    30.000000
50%    34.000000
75%    40.000000
max    45.000000

In [23]:
founders_sorted = founders.sort_values(by = "Age")
founders_sorted

,Founder's Name,Pitch Line,Age,Business Storytelling,Capital (USD),Marital Status,industery
6,Grace Wilson,"""Connecting freelancers with projects.""",27,Grace created a platform that matches freelanc...,"150,000",Single,"""Connecting freelancers with projects.""150,000"
2,Carol Lee,"""Bringing clean energy to every home.""",29,Carol's passion for renewable energy led her t...,"500,000",Single,"""Bringing clean energy to every home.""500,000"
4,Emma Brown,"""Personalized learning for all ages.""",31,"Emma, a former teacher, launched an ed-tech pl...","300,000",Married,"""Personalized learning for all ages.""300,000"
0,Alice Johnson,"""Revolutionizing urban farming.""",34,Alice grew up in a city with limited green spa...,"250,000",Single,"""Revolutionizing urban farming.""250,000"
3,David Nguyen,"""Enhancing e-commerce with AR.""",38,David saw the potential of augmented reality t...,"750,000",Divorced,"""Enhancing e-commerce with AR.""750,000"
5,Frank O'Hara,"""Sustainable packaging solutions.""",42,Frank's concern for environmental waste led hi...,"600,000",Single,"""Sustainable packaging solutions.""600,000"
1,Bob Smith,"""AI-driven solutions for healthcare.""",45,After witnessing inefficiencies in hospital sy...,"1,000,000",Married,"""AI-driven solutions for healthcare.""1,000,000"

In [25]:
married_founders = founders[founders["Marital Status"] == "Married" ]
married_founders

,Founder's Name,Pitch Line,Age,Business Storytelling,Capital (USD),Marital Status,industery
1,Bob Smith,"""AI-driven solutions for healthcare.""",45,After witnessing inefficiencies in hospital sy...,"1,000,000",Married,"""AI-driven solutions for healthcare.""1,000,000"
4,Emma Brown,"""Personalized learning for all ages.""",31,"Emma, a former teacher, launched an ed-tech pl...","300,000",Married,"""Personalized learning for all ages.""300,000"

In [31]:
founders.to_json('founders_data_modified.json', orient='records', lines=True)